<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <packageSources>
        <clear/>
        <add key="SKB.NuGet" value="https://nuget.pkg.github.com/saapo-ka-baadshah/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <apikeys>
       <add key="https://nuget.pkg.github.com/saapo-ka-baadshah/index.json" value="%FULL_PACKAGE_CONTROL_PAT%"/> 
    </apikeys>
</configuration>